---
title: "MijnOverheid Zakelijk: Contactvoorkeuren"
subNavActive: "/moza/contactvoorkeuren/"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li>
				<a href="{{ '/moza/contactvoorkeuren/' | url }}">Contactvoorkeuren</a>
			</li>
			<li aria-current="page">Communicatiekanalen wijzigen</li>
		</ol>
	</nav>

	<h1>Contactvoorkeuren</h1>

	<section class="card">
		<h2>Berichtgevingen</h2>

		<p>Kies per berichttype uw voorkeurskanaal.</p>

		<form action="{{ '/moza/contactvoorkeuren/' | url }}">
			<dl class="data-overview">
				<dt>Ontvangstbevestiging</dt>
				<dd>
					<ul class="list-plain">
						<li><input type="checkbox" id="contact-message-receiptconfirmation-email" checked /><label for="contact-message-receiptconfirmation-email">E-mail</label></li>
						<li><input type="checkbox" id="contact-message-receiptconfirmation-post" checked /><label for="contact-message-receiptconfirmation-post">Post</label></li>
					</ul>
				</dd>
				<dt>Statuswijzigingen</dt>
				<dd>
					<ul class="list-plain">
						<li><input type="checkbox" id="contact-message-statuschange-email" checked /><label for="contact-message-statuschange-email">E-mail</label></li>
						<li><input type="checkbox" id="contact-message-statuschange-post" /><label for="contact-message-statuschange-post">Post</label></li>
					</ul>
				</dd>
				<dt>Besluiten</dt>
				<dd>
					<ul class="list-plain">
						<li><input type="checkbox" id="contact-message-decision-email" checked /><label for="contact-message-decision-email">E-mail</label></li>
						<li><input type="checkbox" id="contact-message-decision-post" /><label for="contact-message-decision-post">Post</label></li>
					</ul>
				</dd>
				<dt>Taken</dt>
				<dd>
					<div class="feedback feedback-error">
						{% include "icon-feedback.njk" %}
						<div>
							<p>U dient minimaal één optie voor berichtgeving over taken te selecteren.</p>
						</div>
					</div>
					<ul class="list-plain">
						<li><input type="checkbox" id="contact-message-task-email" /><label for="contact-message-task-email">E-mail</label></li>
						<li><input type="checkbox" id="contact-message-task-post" /><label for="contact-message-task-post">Post</label></li>
					</ul>
				</dd>
			</dl>

			<div class="action-group">
				<button type="submit">Opslaan</button>
				<button class="secondary">Annuleren</button>
			</div>
		</form>
	</section>
</article>
