---
title: "MijnOverheid Zakelijk: Contactvoorkeuren"
subNavActive: "/moza/contactvoorkeuren/"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li>
				<a href="{{ '/moza/contactvoorkeuren/' | url }}">Contactvoorkeuren</a>
			</li>
			<li aria-current="page">Communicatiekanalen wijzigen</li>
		</ol>
	</nav>

	<h1>Contactvoorkeuren</h1>

	<section class="card">
		<h2>Communicatiekanalen</h2>

		<div class="feedback feedback-info">
			{% include "icon-feedback.njk" %}
			<div>
				<p>Contactgegevens die u hier aanpast, worden automatisch bijgewerkt bij alle organisaties waarmee u uw gegevens centraal deelt.</p>
			</div>
			<button class="btn-close link-button">
				<i>Sluit notificatie</i>
			</button>
		</div>

		<form action="{{ '/moza/contactvoorkeuren/' | url }}">
			<table class="data-overview">
				<tr>
					<th scope="row">Voorkeurskanaal</th>
					<td>
						<ul class="list-plain">
							<li><input type="radio" id="contact-channel-email" name="contact-channel" checked /><label for="contact-channel-email">E-mail</label></li>
							<li><input type="radio" id="contact-channel-post" name="contact-channel" /><label for="contact-channel-post">Post</label></li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">Bellen</th>
					<td>
						<ul class="list-plain">
							<li><input type="radio" id="contact-allow-phone-yes" name="contact-allow-phone" /><label for="contact-allow-phone-yes">Ik mag gebeld worden</label></li>
							<li><input type="radio" id="contact-allow-phone-no" name="contact-allow-phone" checked /><label for="contact-allow-phone-no">Ik wil niet gebeld worden</label></li>
						</ul>
					</td>
				</tr>
			</table>

			<div class="action-group">
				<button type="submit">Opslaan</button>
				<button class="secondary">Annuleren</button>
			</div>
		</form>
	</section>
</article>
