---
title: "MijnOverheid Zakelijk: Componenten"
permalink: "/moza/componenten/"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li aria-current="page">Componenten</li>
		</ol>
	</nav>

	<h1>Componenten</h1>

	<section class="card">
	</section>

</article>
