---
title: "MijnOverheid Zakelijk: Wetten en regelgeving"
permalink: "/moza/regelgeving/"
subNavActive: "/moza/regelgeving/"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li aria-current="page">Wetten en regelgeving</li>
		</ol>
	</nav>

	<h1>Wetten en regelgeving</h1>

	<section class="card" data-overzicht-regelgeving>
		<h2 class="visually-hidden">Wetten en regelgeving</h2>
		<p>Nieuwe en gewijzigde wetten en regelgeving die mogelijk betrekking hebben op uw bedrijf of branche.</p>
		<ul class="list-content-links" aria-busy="true"></ul>
		<nav class="pagination" aria-label="Paginering" data-paginering hidden></nav>
	</section>

</article>
