---
title: "MijnOverheid Zakelijk: Subsidies en financiering"
permalink: "/moza/subsidies/"
subNavActive: "/moza/actueel/"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li aria-current="page">Subsidies en financiering</li>
		</ol>
	</nav>

	<h1>Subsidies en financiering</h1>

	<section class="card" data-overzicht-subsidies-bedrijf>
		<h2>Subsidies en financiering voor uw bedrijf</h2>
		<p>Deze subsidies zijn geselecteerd op basis van uw bedrijfsgegevens en branche.</p>
		<ul class="list-content-links" aria-busy="true"></ul>
		<a class="btn-cta" href="{{ '/moza/subsidies/voor-uw-bedrijf/' | url }}">Alle subsidies en financiering voor uw bedrijf</a>
	</section>

	<section class="card" data-overzicht-subsidies-branche>
		<h2>Subsidies en financiering voor uw branche</h2>
		<p>Subsidies en financiering waar u mogelijk voor in aanmerking komt op basis van uw branche en rechtsvorm.</p>
		<ul class="list-content-links" aria-busy="true"></ul>
		<a class="btn-cta" href="{{ '/moza/subsidies/voor-uw-branche/' | url }}">Alle subsidies en financiering voor uw branche</a>
	</section>

</article>
