<div class="action-group">
	<label class="save-favorite"><input type="checkbox" /> <span class="favorite-label">Bewaar</span> <span class="visually-hidden"></span></label>
	<button class="link-button hide-topic">Niet relevant voor mij</button>
</div>