<div class="action-group topic-options">
	<label class="save-favorite"><input type="checkbox" /> <span class="favorite-label">Bewaar</span> <span class="visually-hidden"></span></label>
	<button class="link-button share-topic" data-feature="Delen" data-feature-type="functionaliteit">{% icon "/assets/icons/icon-delen.svg" %} Deel</button>
	<button class="link-button hide-topic">Niet relevant voor mij</button>
</div>
