<header>
	<a class="skip-link btn-cta" href="#hoofd-inhoud">Ga naar hoofdinhoud</a>
	<figure class="logo">
		<a href="/">
			<img src="{{ '/assets/images/beeldmerk-rijksoverheid.svg' | url }}" alt="Naar de homepage van MijnOverheid Zakelijk">
		</a>
	</figure>

	<div class="page-head">
		<span class="page-title">MijnOverheid Zakelijk</span>
		<div class="user-menu">
			<div class="account-switcher" data-feature="Accountwisselaar" data-feature-type="functionaliteit" data-feature-default="off">
				<button class="account-switcher-toggle icon-label" aria-expanded="false" aria-haspopup="true">
					{% include "icon-persoon.njk" %}
					<span class="account-switcher-label" data-profiel="initialen-bedrijf">R.J. Vogel van Bloom B.V.</span>
				</button>
				<ul class="account-switcher-menu" role="menu" hidden>
					<li class="account-switcher-group-label">Mijn ondernemingen</li>
					<li role="menuitem">
						<a href="{{ '/moza/' | url }}" aria-current="true">
							Bloom B.V. <span>Eigenaar</span>
						</a>
					</li>
					<li role="menuitem">
						<a href="#">
							Vogel & Partners Consultancy <span>Eigenaar</span>
						</a>
					</li>
					<li role="menuitem">
						<a href="#">
							Kwartaal Vastgoed B.V.
							<span>Eigenaar</span>
						</a>
					</li>
					<li class="account-switcher-group-label">Belangen</li>
					<li role="menuitem">
						<a href="#">
							Stichting Groenrijk
							<span>Bestuurslid</span>
						</a>
					</li>
					<li role="menuitem">
						<a href="#">
							Coöperatie ZuidWest U.A.
							<span>Aandeelhouder</span>
						</a>
					</li>
					<li class="account-switcher-group-label">Privé</li>
					<li role="menuitem">
						<a href="#">
							R.J. Vogel
						</a>
					</li>
				</ul>
			</div>
			<span class="icon-label account-switcher-fallback">
				{% include "icon-persoon.njk" %}
				<span data-profiel="naam">R.J. Vogel</span>
			</span>
			<a class="icon-link" href="{{ '/moza/uitgelogd/' | url }}">
				{% include "icon-inloggen.njk" %}
				Uitloggen
			</a>
		</div>
	</div>

	<!-- Proof of concept banner -->
	<a class="temp-moza-poc-banner" href="https://www.mijnoverheidzakelijk.nl/">Proof of Concept</a>

</header>
