<header>

	<figure class="logo">
		<a href="/">
			<img src="{{ '/assets/images/beeldmerk-rijksoverheid.svg' | url }}" alt="Naar de homepage van MijnOverheid Zakelijk" height="96" width="48">
		</a>
	</figure>

	<div class="page-head">
		<span class="page-title">MijnOverheid Zakelijk</span>
		<div class="user-menu">
			<a class="icon-link" href="{{ '/moza/' | url }}" data-inlogflow-link>
				{% include "icon-inloggen.njk" %}
				Inloggen
			</a>
		</div>
	</div>

	<!-- Proof of concept banner -->
	<a class="temp-moza-poc-banner" href="https://www.mijnoverheidzakelijk.nl/">Proof of Concept</a>

</header>
