<header>

	<figure class="logo">
		<a href="/">
			<img src="{{ '/assets/images/beeldmerk-rijksoverheid.svg' | url }}" alt="Naar de homepage van MijnOverheid">
		</a>
	</figure>

	<div class="page-head">
		<span class="page-title">MijnOverheid</span>
		<div class="user-menu">
			<div class="account-switcher" data-feature="Accountwisselaar" data-feature-type="functionaliteit" data-feature-default="off">
				<button class="account-switcher-toggle icon-label" aria-expanded="false" aria-haspopup="true">
					{% include "icon-persoon.njk" %}
					<span class="account-switcher-label">R.J. Vogel</span>
				</button>
				<ul class="account-switcher-menu" role="menu" hidden>
					<li class="account-switcher-group-label">Mijn gegevens</li>
					<li role="menuitem">
						<a href="{{ '/mobu/' | url }}" aria-current="true">
							R.J. Vogel
							<span>Privé</span>
						</a>
					</li>
					<li class="account-switcher-group-label">Ik handel namens</li>
					<li role="menuitem">
						<a href="#">
							A.M. Vogel-de Groot
							<span>Mantelzorg</span>
						</a>
					</li>
					<li role="menuitem">
						<a href="#">
							S.R. Vogel
							<span>Ouderlijk gezag</span>
						</a>
					</li>
					<li class="account-switcher-group-label">Zakelijk</li>
					<li role="menuitem">
						<a href="{{ '/moza/' | url }}">
							Bloom B.V.
							<span>Eigenaar</span>
						</a>
					</li>
				</ul>
			</div>
			<span class="icon-label account-switcher-fallback">
				{% include "icon-persoon.njk" %}
				R.J. Vogel
			</span>
			<a class="icon-link" href="{{ '/mobu/uitgelogd/' | url }}">
				{% include "icon-inloggen.njk" %}
				Uitloggen
			</a>
		</div>
	</div>

	<!-- Proof of concept banner -->
	<a class="temp-moza-poc-banner" href="https://www.mijnoverheidzakelijk.nl/">Proof of Concept</a>

</header>
