<aside>
	<nav class="side-nav">
		<button class="side-nav-toggle" aria-expanded="false" aria-controls="side-nav-menu">Menu</button>
		<ul id="side-nav-menu">
			{% for item in subNav %}
			<li{% if item.class %} class="{{ item.class }}"{% endif %}{% if item.feature %} data-feature="{{ item.feature }}" data-feature-type="pagina"{% endif %}>
				<a aria-disabled="true">
					{% if item.icon %}{% icon item.icon %}{% endif %}
					{{ item.label }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</aside>
