---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="MijnOverheid Zakelijk: Home" headerType="overheid" footerType="overheid">
	<article>
		<h1>Welkom Robin Vogel</h1>

		<h2>Actualiteiten</h2>

		<section class="card">
			<section>
				<h3>Berichten over uw buurt</h3>
				<ul class="list-content-links">
					<li>
						<a href="/moza/actueel/#section-berichten" class="content-link">
							<h4>Wegafsluiting Stationsweg vanaf 10 maart</h4>
							<p>19 februari 2026 — De Stationsweg is afgesloten van 10 tot en met 28 maart vanwege werkzaamheden aan het riool. Verkeer wordt omgeleid.</p>
						</a>
					</li>
				</ul>
				<a class="btn-cta" href="/moza/actueel/#section-berichten">Naar Berichten over uw buurt</a>
			</section>

			<section>
				<h3>Subsidies en financiering</h3>
				<ul class="list-content-links">
					<li>
						<a href="/moza/actueel/#section-subsidies" class="content-link">
							<h4>WBSO: belastingvoordeel voor innovatie</h4>
							<p>Belastingvoordeel als uw bedrijf werkt aan nieuwe producten, diensten of software.</p>
							<p>Aanvragen kan het hele jaar door.</p>
						</a>
					</li>
				</ul>
				<a class="btn-cta" href="/moza/actueel/#section-subsidies">Naar Subsidies en financiering</a>
			</section>
		</section>
	</article>
</BaseLayout>
