---
const { title, description = 'MijnOverheid Zakelijk', bodyClass, loggedIn = true } = Astro.props;
import Header from '../components/Header.astro';
import HeaderLoggedOut from '@/components/HeaderLoggedOut.astro';
import Footer from '@/components/Footer.astro';
import 'mox-nlds/css';
import 'mox-nlds/tokens';
import { MoxBox, MoxPageGrid, MoxContainerGrid , MoxGridItem} from 'mox-nlds/react';
import SideNav from '@/components/SideNav.astro';
---

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="/style/style.css">
    <meta name="description" content={description}>
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="/assets/favicon/touch-icon.png">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <slot name="extra-styles" />
    <style>
        @layer tokens {
            body {
                --mox-space-md-min: 16px;
                --mox-space-md-max: 16px;
                --mox-space-lg-min: 18px;
                --mox-space-lg-max: 18px;
            }
        }
    </style>
</head>
<body class={bodyClass}>
    {loggedIn === true ? <Header /> : <HeaderLoggedOut />}
    <MoxBox as="main" backgroundColor={'neutral-subtle-2'} paddingBlock="xl">
        <MoxPageGrid>
            {loggedIn === true ? 
            <MoxContainerGrid itemSize="sixth" columnGap="2xl">
                <MoxGridItem style={{gridColumn:'span 2'}}>
                    <SideNav />
                    </MoxGridItem>
                    <MoxGridItem style={{gridColumn:'span 4'}}>
                        <div class="legacy">
                            <slot />
                        </div>
                    </MoxGridItem>
                </MoxContainerGrid> : <div class="legacy"><slot /></div>}
        </MoxPageGrid>
    </MoxBox>
    <Footer />
</body>
</html>
